.image{
    max-width: 200px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav > a > svg{
    color: black;
    font-size: 22px;
    :hover{
        color: grey;
    }
}



.parent{
    display: flex;
    column-gap: 100px;
    >li{
        font-size: 21px;
        color: black;
        cursor: pointer;
    }
}

.sub{
    font-size: 15px;
}

.btn-nav{
    
        padding: 13px 35px;
        border-radius: 20px;
        font-size: 16px;
        background-color: #f3b01b;
        border: 0px ;
        color: white;
        cursor: pointer;
       
    
}